.PlayerGrid {
    align-items: center;
    display: flex;
    justify-content: center;
}

.PlayerGrid:not(.host-view) {
    bottom: 2vmin;
    position: fixed;
}

.PlayerGrid.host-view {
    margin-bottom: 18vmin;
}

.PlayerBox:not(:last-of-type) {
    margin-right: 10vmin;
}