.ListItem {
    margin-bottom: 0.8vmin;
    margin-left: 1.5vmin;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.ListItem-header {
    align-items: center;
    background-color: darkgoldenrod;
    border: solid 4px goldenrod;
    border-radius: 100px;
    color: white;
    display: flex;
    font-size: 1.75em;
    font-weight: bold;
    min-height: calc(50px + 2vmax);
    justify-content: center;
    text-decoration-color: #282c34;
    text-transform: uppercase;
    width: 90vmin;
}

.ListItem-number {
    align-items: center;
    background-color: navy;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    min-height: inherit;
}

.ListItem-answer {
    align-items: center;
    background-color: royalblue;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: inherit;
}

.ListItem-answer:not(.host-view):not(.is-discovered) {
    display: none;
}

.ListItem-answer.host-view:not(.is-discovered) {
    background-color: darkgray;
}
.ListItem-answer.host-view:not(.is-discovered) .ListItem-answer-number {
    background-color: gray;
}
.ListItem-answer.host-view:not(.is-discovered) .ListItem-points {
    background-color: gray;
}

.ListItem-answer-number {
    align-items: center;
    background-color: navy;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 5vmax;
    min-height: inherit;
}

.ListItem-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-height: inherit;
}

.spacer {
    width: 2vmax;
}

.ListItem-points {
    align-items: center;
    background-color: brown;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    min-width: 8vmax;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
