.ListItem {
    margin-bottom: 0.8vmin;
    margin-left: 1.5vmin;
}

.ListItem-header {
    align-items: center;
    background-color: darkgoldenrod;
    border: solid 4px goldenrod;
    border-radius: 100px;
    color: white;
    display: flex;
    font-size: 1.75em;
    font-weight: bold;
    min-height: calc(50px + 2vmax);
    justify-content: center;
    text-decoration-color: #282c34;
    text-transform: uppercase;
    width: 90vmin;
}

.ListItem-header > div {
    min-height: inherit;
}

.ListItem-header.is-discovered > div {
    width: inherit;
}

.ListItem-header.host-view {
    min-height: 50px;
}

.ListItem-header.host-view > div {
    width: inherit;
}

.ListItem-number {
    align-items: center;
    background-color: navy;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    min-height: inherit;
}

.ListItem-answer {
    align-items: center;
    background-color: royalblue;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: inherit;
    width: 100%;
}

.ListItem-answer.host-view {
    font-size: smaller;
    min-height: 50px;
}

.ListItem-answer.host-view:not(.is-discovered) {
    background-color: darkgray;
}

.ListItem-answer.host-view:not(.is-discovered) .ListItem-number {
    background-color: gray;
}

.ListItem-answer.host-view:not(.is-discovered) .ListItem-points {
    background-color: gray;
}

.ListItem-answer:not(.host-view):not(.is-discovered) {
    display: none;
}

.is-discovered-enter {
    opacity: 0;
}

.is-discovered-enter-active {
    display: block;
    opacity: 1;
    transition: all 300ms;
}

.is-discovered-exit {
    opacity: 1;
}

.is-discovered-exit-active {
    opacity: 0;
    transition: all 300ms;
}

.ListItem-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: inherit;
    text-align: start;
}

.ListItem-points {
    align-items: center;
    background-color: brown;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    min-height: inherit;
    min-width: 8vmax;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
