.Playground {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.Playground-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.Playground .strike-container {
    left: 50%;
    margin-top: -20vh;
    margin-left: -22vw;
    position: absolute;
    top: 50%;
    z-index: 1;
    display: none;
}

.Playground .strike-container.active {
    display: block;
}