.ListItem {
  padding-bottom: 0.2vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ListItem-header {
  background-color: darkgoldenrod;
  min-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 4px goldenrod;
  border-radius: 100px;
}

.ListItem-number {
  height: calc(50px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
