.PlayerBox {
    align-content: center;
    color: whitesmoke;
    border: solid 4px whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-width: 35vmin;
    transition: ease-in-out 300ms;
}

.PlayerBox .info {
    width: 100%
}

.PlayerBox.is-active {
    box-shadow: 0 0 20px white;
    color: white;
}
